<div className="container flex">
    <div className="category-sidebar-container">
        <div className="category-sidebar">
            <div className="category-sidebar-wrapper t-scroll-bar">
                <div className="category-item category-item--active">
                    <div className="h-[64px] w-[64px]">
                        <div className="aspect-h-1 aspect-w-1"><img alt="Laptop"
                                className="blur-up t-img ls-is-cached lazyloaded"
                                src="https://media-api-beta.thinkpro.vn/media/core/categories/2021/12/29/Rectangle 1461.png">
                        </div>
                    </div>
                    <span className="mt-1 block text-center text-ui-sm font-bold">
                        Laptop
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>